*{
  margin: 0;
  padding: 0
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
 /* background: url(../img/2.jpg);*/
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background: #e2e9ea;
}

 .contenedor{
  margin: auto;
  padding: 100px;
  background: #fff;
  margin-top: 10px;
 }